.card {
    // border: 1px solid $light;
    display: flex;
    flex-direction: column;
    box-shadow: $box-shadow;
    overflow: visible;
    background-color: $transparent;
    border-radius: 5px;
    height: 125%;

    .btn {
        width: 10em;
        align-self: center;
        margin: 0 auto 1em auto;
    }

    img {
        // border: 1px solid $light;
        margin: 1em auto 2em auto;
        height: 75px;
        width: auto;

    }
}

.card-header {
    // border: 1px solid $light;
    padding: 1em;
    height: 2em;
    font-weight: 500;
    font-size: 150%;
    text-align: center;
    padding-bottom: 0;
}

.card-image {
    border: 1px solid $dark;
    height: 5em;
    margin: 0 1em 2em 1em;
    text-align: center;
    background-color: $lowlight;
    color: $dark;
    border-radius: 5px;
    border: none;
}

.card-text {
    // border: 1px solid $light;
    height: auto;
    line-height: 1.6;
    min-height: 50%;
    text-align: justify;
    padding: 1em;
    background-color: lighten($transparent, 10%);
    margin: 0 1em 1em 1em;
    padding: .5em;
    border-radius: 5px;

}