.card {
    // border: 1px solid $light;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    box-shadow: $box-shadow;
    overflow: visible;
    background-color: $transparent;
    border-radius: 5px;
    height: 100%;
    width: 300px;

    .btn {
        width: 10em;
        align-self: center;
        margin: 0 auto 1em auto;
    }

    .false {
        background-color: $dark;
        color: $light
    }

    .true {
        background-color: $light;
    }

    .approved {
        border: yellow 2px solid;
    }

    .pending {
        border: green 2px solid;
    }
}

.card-header {
    // border: 1px solid $light;
    padding: 1em;
    height: 2em;
    font-weight: 500;
    font-size: 150%;
    text-align: center;
    padding-bottom: 0;
}

.card-text {
    // border: 1px solid $light;
    background-color: lighten($transparent, 10%);
    border-radius: 5px;
    height: auto;
    line-height: 1.6;
    margin: 0 1em 1em 1em;
    padding: .5em;
    text-align: justify;
}

.small-text {
    margin: 0;
    padding: 0 1em;
    font-size: 85%;
}

.all-trip {
    display: flex;
    flex-direction: column;

    button {
        @include basic-button
    }
}