.card {
    // border: 1px solid $light;
    box-shadow: 2px 2px 5px $dark;
    overflow:visible; 
}

.card-header {
    // border: 1px solid $light;
    padding: 1em;
    height: 2em;
    font-weight: 500;
    font-size: 150%;
    text-align: center;
}

.card-image {
    // border: 1px solid $light;
    padding: 1em;
    height: 6em;
    margin: auto;
    text-align: center;
}

.card-text {
    // border: 1px solid $light;
    height: 12em;
    text-align: justify;
    padding: 1em;
}