header {
    // border: 1px solid $light;
    align-items: center;
    background-color: darken($medium, 5%);
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin: auto;
}

.header-text {
    text-shadow: 1px 1px 1px $light;
}

.nav-area ul {
    // border: 1px solid $light;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    list-style: none;
    margin: auto;
    width: 100%;
}

.btn {
    @include basic-button
}