header {
    align-items: center;
    background-color: darken($medium, 5%);
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin: auto;
}

.header-text,
label {
    text-shadow: 1px 1px 1px $light;
}

.nav-area ul {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    list-style: none;
    margin: auto;
    width: 100%;
}

label {
    font-size: 150%;
}

.btn {
    @include basic-button
}