.modal-container {
    align-items: center;
    background-color: $medium;
    display: flex;
    height: 90vh;
    justify-content: center;
    margin: auto;
    opacity: 0;
    pointer-events: none;
    position: absolute;
    top: 200px;
    width: 90vw;
    z-index: 1;
}

.modal {
    align-items: center;
    background-color: whitesmoke;
    border-radius: 3px;
    box-shadow: $box-shadow;
    color: $dark;
    display: flex;
    flex-direction: column;
    font-family: $handwriting;
    font-size: 200%;
    height: 700px;
    justify-content: center;
    line-height: 1.6;
    margin: 1em 1em 3em 1em;
    position: relative;
    text-align: center;
    transform: rotate(-5deg);
    width: 700px;
}

.modal img {
    border: $dark;
    box-shadow: -3px -3px 4px $medium;
    max-height: 250px;
    width: 80%;
}

h2 {
    padding: 0 2em;
}

.show {
    opacity: 1;
    pointer-events: auto;
}

.close {
    @include basic-button;
    position: relative;
    transform: rotate(5deg);
}