.modal-container {
    // display: none;
    position: absolute;
    top: 200px;
    margin: auto;
    height: 90vh;
    width: 90vw;
    background-color: $light;
    opacity: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    pointer-events: none;
    z-index: 1;
    // border: 1px solid $dark;
}

.modal {
    background-color: $medium;
    position: relative;
    margin: auto;
    color: $dark;
    font-family: $handwriting;
    width: 700px;
    height: 500px;
    padding: 3em;
    line-height: 1.2;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

img {
    width: 80%;
    margin: auto;
}

.show {
    opacity: 1;
    pointer-events: auto;
}

.close {
    @include basic-button;
    position: absolute;
    right: -1em;
    top: -3em;
}