$medium: #9495A9;
$light: lighten($medium, 15%);
$dark: darken($medium, 40%);
$highlight: #AA744E;
$lowlight: #899878ff;

$font: 'Noto Sans HK',
sans-serif;
$handwriting: 'Sedgwick Ave',
cursive;
$transparent: transparentize($light, .6);
$box-shadow: 3px 3px 6px $dark;

@mixin basic-button {
    border-radius: 5px;
    background-color: $light;
    color: $dark;
    font-size: 100%;
    font-weight: 500;
    width: auto;
    margin: 0 1em;
    padding: .5em;
    border: none;
    box-shadow: $box-shadow;

    &:hover {
        color: $light;
        background-color: $highlight;
        cursor: pointer;
    }

    &:active {
        color: $dark;
        background-color: $lowlight;
        box-shadow: -3px -3px 5px $dark;
    }
}
