@import 'variables';
@import 'mobile';
@import 'tablet';
@import 'desktop';


body {
  background-image: url("../images/background-desert.png");
  background-repeat: space;
  background-attachment: fixed;
  background-size: 100%, contain;
  margin: auto;
  font-family: $font;
  color: $highlight;
}

