@import 'variables';
@import 'mobile';
@import 'tablet';
@import 'desktop';


body {
  background-image: url("../images/background-desert.png");
  background-repeat: space;
  background-attachment: fixed;
  background-size: 100%, contain;
  margin: auto;
  font-family: $font;
  color: $dark;
  display: flex;
  justify-content: center;
  align-items: center;
}

div {
  height: 100px;
  width: 100px;
  margin: 10px;
  text-align: center;
  padding: 5px;
}

.button {
  @include basic-button();
  margin: 10px;
}