@import 'variables';
@import 'mobile';
@import 'tablet';
@import 'desktop';

body {
  background-image: url("../images/background-image.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  width: 100vw;
  height: 100vh;
  font-family: $font;
  color: $highlight;
}

